.top-notice {
    height : 248px;
    /* background-color: #011c30; */
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    /* background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    /* background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
    /* background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); */
    /* background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%); */
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); */
    background-blend-mode: multiply;
}
.top-notice > canvas {
    width: 100%;
    height: 245px;
    margin-top: 3px;
}
input {
    font-family: initial;
}

.wr-content-inter {
    display : flex;
    width: 100%;
    min-height: 500px;
}
.wr-content-inter > div {
    flex : 1;

    border-radius: 10px;
    border : 1px solid #ccc;
    background-color: white;
    margin : 5px;
    padding : 20px;
}
.wr-content-inter > div > div {
    height: 35px;
}
.wr-content-inter select {
    /* min-width: 45%; */
    max-width: 210px;
    height: 35px;
    background-color: rgba(9, 9, 121, 1);
    color : white;
}


.w-input {
    display: flex;
    line-height: 32px;
    width: 100%;
    height: 35px;
    /* margin : 3px 0; */
}
.w-input > span {
    border-radius: 7px;
    display: inline-block;
    background-color: rgba(9, 9, 121, 1);
    color : white;
    font-size: 13px;
    font-weight: 500;
    padding : 0 20px;
}
.w-input > input {
    flex : 1;
    border : 1px solid #ccc;
    border-radius: 5px;
    padding : 0 15px;
    margin : 0 1px;
}
.w-input button {
    border : 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background-color: rgba(9, 9, 121, 1);
    width: 60px;
    color : white;
    padding : 0 15px;
    margin : 0 1px;
}



.w-label {
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    font-weight: 500;
    padding : 10px 0px;
    margin-bottom: 10px;
}

.w-color {
    width: 100%;
    height: 135px !important;
    overflow: hidden;
    overflow-y: auto;
    padding : 1px;
}
.w-color li {
    display: inline-block;
    border-radius: 10px;
    border : 1px solid #ccc;
    width : 49%;
    height : 50px;
    margin: 2px;
    transition: all 0.1s;
    cursor: pointer;
}
.w-color li:hover {
    outline: 2px solid #020024;
}
.w-color li:active {
    outline: 2px solid #1f18ac;
}

.w-color-font {
    width: 100%;
    height: 135px !important;
    overflow: hidden;
    overflow-y: auto;
    padding : 1px;
    transition: none;
}
.w-color-font * {
    transition: none;
}
.w-color-font .color-selected {
    width: 100%;
}
.w-color-font .color-selected > span {
    border-radius: 10px;
    border : 1px solid #ccc;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin : 0 1px;
    cursor: pointer;
}
.sp-container {
    transition: none;
}
.sp-container * {
    transition: none;
}




.l-input {
    width: 100%;
    margin : 10px 0;
}
.l-input span {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    margin : 5px 0;
}
.l-input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height : 35px;
    
    color: #333;
    font-weight: 500;

    padding: 0 15px;
    margin: 0 1px;
    transition: all 0.05s;
}
.l-input input:focus {
    outline: 2px solid rgb(255, 169, 159);
    background-color: rgb(255, 169, 159);
    color: white;
}