
@media (max-width: 576px) {
    html, body {
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
    .main-st {
        padding : 10px 0px;
    }
    .main-st h2 {
        font-size: 20px;
    }
    .wr-content > div {
        max-width: 100%;
    }
    #readTxtEle > ul > li > div {
        border-radius: 20px;
        padding: 10px;
        background: #cccc;
    }
    #readTxtEle > ul > li > div > div {
        position: relative;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }
   
    #readTxtEle > ul > li > div > div span:nth-child(1) {

    }
    #readTxtEle > ul > li > div > div span:nth-child(2){
        border-bottom : 0;
        padding : 20px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #readTxtEle > ul > li > div > div span:nth-child(3) {
        position: absolute;
        top : 0;
        right : 0;
    }

}


@media (min-width: 576px) and (max-width: 768px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}


@media (min-width: 992px) {
    
}


