/* * {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
} */




@media (max-width: 576px) {
   
}



@media (min-width: 576px) and (max-width: 768px) {
   
}

