
@media (max-width: 576px) {
    html, body {
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
    .main-st {
        padding : 10px 0px;
    }
    .main-st h2 {
        font-size: 20px;
    }
    .pdf-settings > div > div{
       width: 95%;
    }
    
    .prev-pop > div > p {
        top: calc(50% - 42%);
        width: 100%;
    }
    .prev-pop > div > button {
        top: calc(50%);
        left: calc(50%);
        width: 100px;
        height: 100px;
        box-shadow: 1px 2px 3px white;
    }
    .prev-pop > div > iframe {
        width: 100%;
        height: 100%;
    }

}


@media (min-width: 576px) and (max-width: 768px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}


@media (min-width: 992px) {
    
}


