
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&display=swap");
body {
    background-color: #f5f5f5;
}
* {
	box-sizing: border-box;
    color : #292929;
	margin: 0;
	padding: 0;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
	font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;
    font-weight: 300;
    transition: all 0.5s;
}
ul { margin : 0; padding : 0;}
li { margin : 0; padding : 0; list-style: none;}
/* p { font-size : 13px; } */
input:focus { outline: none; }
select:focus { outline: none; }
textarea:focus { outline: none; }

/* span { font-size: 33px; } */
/* p { font-size: 23px; } */
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

select {
    border-radius: 5px;
    /* border : 1px solid #b22929; */
    border: 0;
    color : white;
    background: #709cff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 25px;
}


a { 
    display: inline-block;
    text-decoration : none;
    transition: all .1s;
    outline : 0;
    cursor: pointer;
}
a:hover {
    filter: sepia(.3);
}
a:active {
    filter: sepia(.5);
}

::-moz-selection { 
    background: #bbe7f8;
}
  
::selection {
    background: #bbe7f8;
}
.hightlight {
    background: #e1f0f6;
}



html, body {
}


.icon-each-product::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;

    background-image: url('/images/icons/cart.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: brown;
    filter: invert(1);
}

.icon-doc-product::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;

    background-image: url('/images/icons/cart.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: brown;
    filter: invert(1);
}

.icon-free::after {
    /* content: '';
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px; */
}



.wrapper {
    margin: 0 auto;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 



.moon-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 3s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #96e5ff inset;
  }
  100% {
    box-shadow: 48px 0 #9affc4 inset;
  }
}




.check-input {
    display: flex;
    padding : 10px 0;
}
.check-input input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    transition: box-shadow .2s, background-color .2s;
    position: relative;
    box-sizing: border-box;

    margin: 0;
    margin-right: 10px;
}
.check-input input[type=checkbox]:not(:checked) {
    border-width: 2px;
    border-style: solid;
    border-color: #adadad;
}
.check-input input[type=checkbox]:not(:disabled):focus:not(:focus-visible) {
    box-shadow: none;
}
.check-input input[type=checkbox]:not(:disabled):focus {
    outline: none;
}
.check-input input[type=checkbox]:checked {
    background-color: #0096fa;
}

.check-input input[type=checkbox]:checked::after {
    content: "";
    background-color: white;
    display: flex;
    margin: auto;
    width: 16px;
    height: 16px;
    -webkit-clip-path: path("M10.6 5a1.3 1.3 0 0 1 1.8 1.9l-5.7 5.6-3-2.9a1.3 1.3 0 1 1 2-1.9l1 1z");
    clip-path: path("M10.6 5a1.3 1.3 0 0 1 1.8 1.9l-5.7 5.6-3-2.9a1.3 1.3 0 1 1 2-1.9l1 1z");
}







@media (max-width: 576px) {


}


@media (min-width: 576px) and (max-width: 768px) {
    body {
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
    }
}


@media (min-width: 992px) {
    
    .wrapper {
        max-width: 2200px;
    }
    
}






.sub-info-flex {
    width: 100%;
    height: 200px;
    padding: 0 !important;
}
.sub-info-flex iframe {
    border: 0;
    width: 100%;
    height: 100%;
}