.viewer-interaction {
    position: fixed;
    bottom : 20px;
    right : 20px;

    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 1px black;
    padding: 2px 19px;


    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
.viewer-interaction * {
    display: flex;
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
	font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
.viewer-interaction svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.viewer-interaction button {
    border: 0;
    background: #c5f9d7;
    padding: 0 15px;
    margin: 0 10px;
}

    
